<!-- <div class="logo">
  <img src="/assets/img/LOGHI ElBareto-03.png" alt="" srcset="">
</div> -->

<div class="container">
    <div id="queue" class="section">
        <div class="section-header"><h1>In Preparazione</h1></div>

        <div class="numeri" *ngIf="ordiniInPreparazione.length > 0" [ngClass]="getSectionSizeClass()">
      
            <mat-card class="numero-card" *ngFor="let ordine of ordiniInPreparazione">
              <mat-card-content>{{ordine.numeroOrdine}}</mat-card-content>
            </mat-card>
      
        </div>

    </div>

    <div id="ready" class="section">
        <div class="section-header"><h1>Da Ritirare</h1></div>

        <div class="numeri" *ngIf="ordiniDaRitirare.length > 0" [ngClass]="getSectionSizeClass()">
      
            <mat-card class="numero-card" *ngFor="let ordine of ordiniDaRitirare">
              <mat-card-content>{{ordine.numeroOrdine}}</mat-card-content>
            </mat-card>
      
        </div>
    </div>

</div>

<!-- <div class="screensaver" *ngIf="!areThereOrders()">
  <img src="/assets/img/LOGHI ElBareto-04.png" alt="" srcset="">
</div> -->
