:host {
  --bareto-brown: #593305;
  --queue-accent-color: #F9A825; 
  --ready-accent-color: #388E3C;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f3f3f3;
  }
  
  .content {
    width: 65%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
  }
  
  .numeri-title {
    width: 100%;
    font-size: 32px;
    color: var(--bareto-brown);
    text-align: center;
  }

  .numeri {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 50px 5vw;
    height: 50%;
    overflow: hidden;
  }
  /* .numeri.largeOrder {
    font-size: 72px !important;
  } */
  .numeri.medium .numero-card {
    flex: 1 0 22%;
    max-width: 22%;
  }
  .numeri.large .numero-card {
    flex: 1 0 10%;
    max-width: 10%;
  }

  #queue {
    border-bottom: 2px solid var(--bareto-brown);
  }
  #ready {
    border-top: 2px solid var(--bareto-brown);
  }

  .numero-card {
    /* width: 100%; */
    max-width: 30%;
    height: 25%;
    flex: 1 0 30%;
    /* min-width: 100px; */
    /* height: 200px; */
    padding: 10px 0;
    font-size: 50px;
    text-align: center;
    color: var(--bareto-brown);
    font-weight: 500;
    border-left: 17px solid var(--bareto-brown);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0.7rem;

    display: flex;
    justify-content: center;

    /* transition: 0.3s ease; */
  }
  
  #queue .numero-card {
    border-left-color: var(--queue-accent-color);
    color: var(--queue-accent-color);
  }
  #ready .numero-card {
    border-left-color: var(--ready-accent-color);
    color: var(--ready-accent-color);
  }

  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* line-height: 170%; */
  }
  
  .numero-card:hover {
    /* width: 100%;
    height: 100%;
    content: 'X'; */
    background-color: red;
    color: white;
    cursor: pointer;
    border-left: 10px solid red !important;
  }
  .numero-card:hover .numero-ordine {
    display: none;
  }
  .numero-card:hover .overlay {
    display: block;
    color: white !important;
  }
  
  
  .inserimento {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    border-left: 4px solid var(--bareto-brown);
    padding-top: 50px;
  }
  
  .inputArea {
    width: 100%;
    max-width: 400px;
    /* padding: 0; */
    /* padding-bottom: 100px !important; */
    margin: 50px 0;
  }
  .inputArea input {
    font-size: 22px;
  }
  .inputArea button {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    color: white;
    font-size: 24px;
  }
  .inputArea .mat-mdc-form-field {
    width: 100%;
    height: 100%;
  }
  ::ng-deep .inputArea .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .numpad {
    width: 100%;
    max-width: 400px;
    padding-bottom: 300px !important;
  }
  .numpad button {
    width: 100%;
    height: 100%;
    font-size: 24px;
  }
  .numpad .confirm {
    background-color: green;
    color: white;
  }
  
  
  @media screen and (max-width: 1200px) {
    .container {
      flex-direction: column;
      min-height: 100vh;
      height: auto;
    }
  
    .inserimento {
      order: 1;
      width: 100%;
      padding: 100px 20px;
      border: none;
    }
  
  
    .content {
      order: 2;
      width: 100%;
    }
  
    .numeri {
      grid-template-columns: repeat(auto-fit, 31%);
      gap: 30px;
      justify-content: center;
      padding: 50px 50px;
    }
  
    .numero-card {
      min-width: 50px;
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .numeri {
      order: 2;
      grid-template-columns: repeat(auto-fit, 45%);
      padding: 20px 20px;
      font-size: 24px;
    }
  
    .numero-card {
      min-width: 50px;
      font-size: 30px;
    }
  }
  